* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'redHat';
    src: url('./assets/fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf')
        format('truetype');
}

:root {
    --primary-fonts: 'redHat', system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;

    --white: #ffffff;
    --black: #000000;
    --faded-black: #000000b4;
    --red: #f87070;
    --teal: #44c6cc;
    --faded-teal: #44c5cc1e;
    --gray: #959595;
    --faded-gray: #8080800a;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    font: normal 1.6rem var(--primary-fonts);
    background-color: var(--white);
    display: grid;
    grid-template-rows: 110px 1fr 50px;
    color: var(--faded-black);
}

header,
footer {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    color: var(--white);
    background-color: var(--teal);
}

header h1 {
    font-size: 4.5rem;
}

main {
    display: grid;
    grid-template-columns: auto 1fr;
}

footer {
    display: flex;
    justify-content: center;
    font-weight: 600;
}

a {
    text-decoration: none;
}

.sidebar {
    width: 300px;
    padding: 10px;
    background-color: var(--faded-gray);
}

.sidebar > * {
    margin-top: 30px;
}

.user-projects > .header,
.task-viewer > .header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--gray);
}

.sidebar.hidden {
    width: 0;
}

.task-viewer {
    display: grid;
    grid-template: min-content 1fr / 60%;
    justify-content: center;
    padding: 40px;
}

.tasks-container {
    margin-top: 25px;
}

.btn {
    cursor: pointer;
}

.add-btn {
    width: 36px;
    height: 36px;
    margin-left: auto;
    border-radius: 18px;
    border: none;
    background: url('./assets/images/add-btn-base.png') no-repeat center center /
        cover;
    transition: ease 0.3s;
    margin-bottom: -5px;
}

.add-btn:hover {
    background-image: url('./assets/images/add-btn-hovered.png');
}

.add-btn:active {
    scale: 0.95;
}

.modal {
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 10px;
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal .header {
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--teal);
    color: var(--white);
    font: 700 3.5rem var(--primary-fonts);
}

.modal form {
    display: grid;
    gap: 30px;
    padding: 20px;
}

form .row:not(.flat) {
    display: grid;
    gap: 7px;
}

form :is(input, select, textarea) {
    height: 40px;
    padding: 5px;
    border: 1px solid var(--gray);
    border-radius: 3px;
    font-family: inherit;
    background-color: var(--white);
}

form textarea {
    resize: none;
    height: 100px;
}

form input[type='checkbox'] {
    height: auto;
    margin-right: 5px;
    vertical-align: -1px;
    accent-color: var(--teal);
}

form .row:last-child {
    display: grid;
    grid-template: 50px / 4fr 1fr;
    gap: 15px;
}

form :is(.submit-btn, .cancel-btn) {
    border: none;
    border-radius: 10px;
    font: 700 1.6rem var(--primary-fonts);
    color: var(--white);
    transition: 0.3s ease;
}

form .submit-btn {
    background: url('./assets/images/tick.png') no-repeat center center / 27px
        27px var(--teal);
}

form .submit-btn:active {
    scale: 0.985;
}

form .cancel-btn {
    background: url('./assets/images/cancel.png') no-repeat center center / 34px
        34px var(--red);
}

form .cancel-btn:active {
    scale: 0.97;
}

.task {
    border-radius: 10px;
}

.task.expanded {
    background-color: var(--faded-teal);
}

.task .main {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    font: 400 1.8rem var(--primary-fonts);
    cursor: alias;
}

.task .main,
.task .main > * {
    transition: 0.3s ease;
}

.task .main:hover {
    background-color: var(--faded-teal);
}

.task .main .complete-task-btn {
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid var(--teal);
    border-radius: 10px;
    background-color: var(--faded-gray);
}

.task .main .complete-task-btn.completed {
    background-color: var(--teal);
}

.task .main .complete-task-btn.completed ~ p {
    text-decoration: line-through;
    color: var(--gray);
}

.task .main .complete-task-btn.completed::after {
    content: '✔';
    display: block;
    position: absolute;
    right: 1px;
    top: -1px;
    color: var(--white);
    font-size: 1.6rem;
}

.task .main .date {
    margin-left: auto;
}

.task .main .accordion-btn {
    border: none;
    background: url('./assets/images/expand-arrow.png') no-repeat center center /
        20px 20px;
}

.task .main:hover .accordion-btn,
.task.expanded .accordion-btn {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.task.expanded .accordion-btn {
    background-image: url('./assets/images/collapse-arrow.png');
}

.task .panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;

    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px 30px;
    position: relative;
}

.task.expanded .panel {
    max-height: none;
    margin: 10px;
    padding: 20px 20px 70px 20px;
    transition: max-height 0.3s ease;
}

.panel .row {
    position: relative;
    margin-left: 25px;
}

.edit-btn,
.delete-btn {
    border: none;
    background: url('./assets/images/edit.png') no-repeat center center / cover
        transparent;
    transition: 0.3s ease;
}

.edit-btn {
    position: absolute;
    left: -24px;
    top: 2px;
    width: 15px;
    height: 15px;
}

.edit-btn:hover {
    background-image: url('./assets/images/edit-hovered.png');
}

.delete-btn {
    position: absolute;
    right: 9px;
    bottom: 17px;
    display: block;
    width: 29px;
    height: 30px;
    background-image: url('./assets/images/trash.png');
}

.delete-btn:hover {
    background-image: url('./assets/images/trash-hovered.png');
}

.panel output {
    display: block;
    margin: 10px 0 0 3px;
}

.panel .description output {
    max-height: 100px;
    overflow: auto;
}
